{% extends "base.html" %}

{% block content %}

{% if term.name %}
<h2 class="subtitle">
    <a href="{{ get_url(path='@/blog/_index.md') }}">ⓧ</a>
    tag: {{ term.name }}
</h2>
{% endif %}
<h1 class="title">
    Blog
</h1>

<div class="posts">
    {% for page in paginator.pages %}
    <article class="post_preview">
        <a href="{{ page.permalink }}" style="color: inherit">
            <h2>
                <strong>{{ page.date | date(format="%B %e, %Y") }} </strong>
                {{ page.title }}
            </h2>
        </a>
        <div class="post__summary">
            {{ page.summary | safe }}
        </div>
        {% if page.taxonomies.tags %}
        <div style="float:right">
            tags:
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" itemprop="url">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},{% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <a href="{{ page.permalink }}#continue-reading">›› continue reading</a>
    </article>
    {% endfor %}
</div>
<nav class="pagination">
    {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}"> ‹ Older </a>
    {% endif %}
    {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">Newer ›</a>
    {% endif %}
</nav>

{% endblock content %}
