{% extends "base.html" %}

{% block content %}
<h2>Hello, I am Marcel Heistermann.</h2>
<h1>Welcome to my Website</h1>
<p>
    Glad you found your way here. Please have a look around!
</p>

<h2>About Me</h2>
<p>
    I work as an R&D engineer for a large tech company. There, I currently produce
    software that the automotive industry uses to validate some of their embedded
    software through virtualization of their <i>electronic control units</i>.
    I like to spend some of my free time learning about software development in general
    and about technologies outside my work such as creating a website like this one.
    Honest feedback about this attempt of mine at <i>web design</i> is appreciated
    by the way.
</p>
{% endblock content %}
